<!Doctype html>
<html>
    <head>
    게시판 목록
    </head>
    <body>
        <h1>게시판 목록</h1>
        <a href="/addboard">글 추가</a>

        <%
        if(session) {
        %>   
            <a href="/logout"><button>로그아웃</button></a>
            <a href="/out"><button>회원탈퇴</button></a>
        <%    
        } else {
        %>
            <a href="/login">로그인</a>
        <%
        }
        %>

        <table border="1">
            <tr>
                <td>번호</td>
                <td>제목</td>
                <td>작성자</td>
            </tr>
            <%
            model.boardList.forEach((item, index)=>{
            %>
            <tr>
                <td><%=item.board_no%></td>
                <td><a href="/boardDetail/<%=item.board_no%>"><%=item.board_title%></a></td>
                <td><%=item.board_user%></td>
            </tr>
            <%
            });
            %>
        </table>
            <a href="/boardList/1">처음으로</a>
        <%
        if(model.currentPage > 1){
        %>
            <a href="/boardList/<%= model.currentPage-1 %>">이전</a>
        <%
        };
        model.pageList.forEach((item, index)=>{
        if(model.currentPage == item){
        %>
            <%= item %>    
        <% 
        }else if(item < model.lastPage+1){
        %>
            <a href="/boardList/<%= item %>"><%= item %></a>    
        <%   
        }
        });
        
        if(model.currentPage < model.lastPage){
        %>
            <a href="/boardList/<%= model.currentPage+1 %>">다음</a>
            <a href="/boardList/<%=model.lastPage%>">마지막으로</a>
        <%
        };
        %>
    

    </body>
</html>

